body{background-color: rgb(245, 185, 101);}
h1{
    text-align: center;
    color: darkred;
}

div{
    height: 100px;
    width: 100px;
    border: 1px solid black;
    margin: 1px;
}
.bloco{border-radius: 5pt;}
.bola{border-radius: 50pt;}

#op1{background-image: linear-gradient(pink,red);}
#op2{background-image: linear-gradient(to right, blue, rgb(0, 0, 0));}
#op3{background-image: linear-gradient(45deg, red, yellow);}
#op4{background-image: radial-gradient(black 0%, red 50%, black 100%);}
#op5{background-image: radial-gradient( purple 10%, blue 50%, darkblue 100%);}
#op6{background-image: radial-gradient(15deg, orange, purple);}